body {
    background-color: #191919;
    color: white;
}
.container {
    max-width: 810px;
    margin: auto;
}
.post .item {
    position: relative;
    border: 1px solid #EDEDED;
    padding: 35px 40px;
    border-radius: 15px;
    margin-bottom: 15px;
}
.post .item img {
    position: absolute;
    max-width: 140px;
    right: 50px;
    top: 30px;
}
.btn {
    padding: 10px 25px;
    color: white;
    margin-top: 15px;
    display: block;
    max-width: 450px;
    background-color: #9146e5;
    border: 1px solid #9146e5;
    box-shadow: 0 3px 10px rgba(0,0,0,.2);
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 25px;
}
.btn:hover {
    background-color: #6b1cc5;
    border: 1px solid #6b1cc5;
}

.btn-del {
    background-color: crimson;
    border: 1px solid crimson;
}

.btn-del:hover {
    background-color: #821235;
    border: 1px solid #821235;
}

input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}
.infoblock {
    margin: auto;
    margin-top: 50px;
    width: 100%;
    max-width: 810px;
    padding: 50px;
    background: white;
    color: black;
    border-radius: 15px;
    margin-bottom: 15px;
}
.post-body {
    background-color: #fff;
    padding: 35px 20px 60px;
    color: #000;
    border-radius: 15px;
    margin-top: 40px;
}
.post-body h1 {
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 0;
    text-align: center;
}
.post-body .problem {
    color: grey;
}