/*--------------------------------------------------------------
## Global
--------------------------------------------------------------*/

*, html {
    font-family: 'Helvetica', sans-serif;
    font-size: 16px;
}

* body {
    margin: 0;
}

* p {
    margin-block-start: 0;
}

* img {
    max-width: 100%;
    height: auto;
}

footer {
    background: #131313;
}

:focus {
    outline: none;
}

.input-group-append, .input-group-prepend {
    display: -ms-flexbox;
    display: flex;
}

.input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.input-group > .custom-file, .input-group > .custom-select, .input-group > .form-control, .input-group > .form-control-plaintext {
    position: relative;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
    min-width: 0;
    margin-bottom: 0;
}

/*--------------------------------------------------------------
## Main page
--------------------------------------------------------------*/
.after-header {
    background: #F3A73C;
    padding-top: 65px;
    position: relative;
    overflow: hidden;
}

.after-header:before {
    content: url("/svg/svg-header-points.svg");
    position: absolute;
    bottom: 0;
    transform: rotate(1.4deg);
    z-index: 1;
}

.after-header:after {
    content: '';
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 130px;
    z-index: 10;
    background: linear-gradient(176.3deg, transparent 0%, transparent 50%, #131313 50.6%, #131313 100%);
}

.after-header .after-header__title {
    position: relative;
    z-index: 5;
    text-align: center;
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
    letter-spacing: 0.05em;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 25px;
    padding: 0;
    -webkit-text-fill-color: #FFFFFF; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: #ffffff;
    margin-top: 0;
}

.after-header__title small {
    position: relative;
    z-index: 5;
    font-size: 4.5rem;
    line-height: 5.1875rem;
    letter-spacing: 0.06em;
}

.after-header .after-header__text {
    position: relative;
    z-index: 5;
    text-align: center;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 2.25rem;
    line-height: 2.5625rem;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ffffff;
}

.after-header .after-header__img {
    max-width: 881px;
    display: block;
    margin: auto;
    position: relative;
    bottom: -15px;
    z-index: 2;
    width: 100%;
}

.after-header .after-header__svg {
    position: absolute;
}

.after-header .ellipse-left {
    width: 46.875rem;
    height: 46.875rem;
    z-index: 0;
    bottom: -13rem;
    left: 0;
    border-radius: 50%;
    background: linear-gradient(180deg, #EA9B2C 0%, #FCB34C 100%);
    transform: rotate(111.13deg);
}

.after-header .ellipse-right {
    width: 24.0625rem;
    height: 24.0625rem;
    border-radius: 50%;
    z-index: 0;
    top: 13rem;
    right: -8rem;
    background: linear-gradient(180deg, #EA9B2C 0%, #FCB34C 100%);
    transform: rotate(111.13deg);
}

.after-header .lines-left {
    bottom: 35rem;
    z-index: 0;
    left: -8rem;
}

.after-header .lines-right {
    right: -5rem;
    bottom: 11rem;
    z-index: 0;
    transform: rotate(1deg);
}

.main-black {
    background: #131313;
    padding-top: 35px;
}

.main-black .main-black__p {
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 140%;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.main-black-container {
    max-width: 800px;
    width: 100%;
    margin: auto;
}

.main-black .main-black__p:last-of-type {
    margin-bottom: 70px;
}

.main-black .main-black__h3 {
    font-weight: normal;
    font-size: 1.875rem;
    line-height: 2.125rem;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.main-black .main-black__header {
    font-weight: bold;
    font-size: 3rem;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.main-black__posts {
    font-weight: 300;
    font-size: 2.25rem;
    line-height: 2.5625rem;
    color: #FFFFFF;
    margin-bottom: 40px;
}

/*--------------------------------------------------------------
## Post-item
--------------------------------------------------------------*/

.post-item {
    border-radius: 20px;
    border: 1px solid #7B7B7B;
    padding: 25px 200px 25px 40px;
    position: relative;
}

.post-item-link {
    text-decoration: none;
    display: block;
    margin-bottom: 40px;

}

.post-item-link:last-of-type {
    margin-bottom: 0;
}

.post-item.disabled {
    background: rgba(75, 75, 75, 0.5);
}

.post-item .post-item__problem {
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #AEAEAE;
    margin-bottom: 15px;
}

.post-item .post-item__problem span {
    font-weight: 300;
}

.post-item .post-item__title {
    font-weight: normal;
    font-size: 1.75rem;
    line-height: 2rem;
    color: #FFFFFF;
    margin-bottom: 70px;
}

.post-item .post-item__btn {
    background: #5C3CC5;
    border-radius: 15px;
    padding: 18px;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 0;
    max-width: 226px;
    width: 100%;
    text-decoration: none;
    border: none;
}

.post-item .post-item__img {
    max-width: 8.125rem;
    position: absolute;
    right: 5.3125rem;
    top: 0%;
    margin: auto;
    bottom: 0;
}

/*--------------------------------------------------------------
## Post-view
--------------------------------------------------------------*/

.post-view-container {
    max-width: 800px;
    width: 100%;
    margin: auto;
}

.post-view .post-view__title {
    font-weight: normal;
    font-size: 3rem;
    line-height: 120%;
    text-align: center;
    color: #0A0A0A;
    margin-bottom: 60px;
}

.post-view-container p {
    font-weight: 300;
    font-size: 1.375rem;
    line-height: 150%;
    color: #0A0A0A;
    margin-bottom: 20px;
}

.post-view-container p b {
    font-weight: bold;
}

.post-view-container img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
    margin-bottom: 40px;
}

.post-view-purple {
    background: #5C3CC5;
    padding: 5rem 0;
    margin-bottom: 40px;
    margin-top: 40px;
}

.post-view-purple .post-view-container p {
    font-weight: normal;
    font-size: 1.25rem;
    line-height: 150%;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.post-view-purple .post-view-container p:last-of-type {
    margin-bottom: 0;
}

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
.preFooter {
    background: #5C3CC5;
    padding-top: 13.75rem;
    padding-bottom: 16.25rem;
    position: relative;
    overflow: hidden;
}

.preFooter-input-group input {
    height: 63px;
    background: #F8F8F8;
    border-radius: 15px;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #B3B3B3;
    padding: 21px 30px;
    width: 100%;
    border: none;
    display: block;
    margin-right: 20px;
}

.preFooter-input-group {
    position: relative;
    z-index: 1;
}

.preFooter-input-group button {
    display: block;
    background: #F3A73C;
    border-radius: 15px;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    padding: 18px;
    max-width: 292px;
    border: none;
    height: 63px;
    width: 18rem;
}

.preFooter-input-group input::placeholder {
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #B3B3B3;
}

.preFooter .preFooter__header {
    position: relative;
    z-index: 1;
    font-weight: bold;
    font-size: 3rem;
    line-height: 3.4375rem;
    color: #FFFFFF;
    margin-bottom: 30px;
    text-align: center;
}

.preFooter .preFooter__text {
    position: relative;
    z-index: 1;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 1.75rem;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 50px;
}

.preFooter .points {
    position: absolute;
    top: 0;
    right: 0;
    transform: rotate(1.4deg);
    z-index: 1;
}

.preFooter:before {
    content: '';
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 130px;
    z-index: 10;
    background: linear-gradient(-3.7deg, transparent 0%, transparent 50%, #131313 50.6%, #131313 100%);
}

.preFooter:after {
    content: '';
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 130px;
    z-index: 10;
    background: linear-gradient(176.3deg, transparent 0%, transparent 50%, #131313 50.6%, #131313 100%);
}

.preFooter .ellipse-left {
    background: linear-gradient(180deg, #4E2DBB 0%, #6545D0 100%);
    transform: rotate(111.13deg);
    width: 32rem;
    height: 32rem;
    border-radius: 50%;
    top: 2rem;
    left: 21rem;
    z-index: 0;
}

.preFooter__svg {
    position: absolute;
}

.preFooter .lines-left {
    left: -11rem;
    bottom: 4rem;
    transform: rotate(1deg);
}

.preFooter .ellipse-right {
    background: linear-gradient(180deg, #4E2DBB 0%, #6545D0 100%);
    transform: rotate(111.13deg);
    width: 24.0625rem;
    height: 24.0625rem;
    border-radius: 50%;
    bottom: 0rem;
    right: -5rem;
    z-index: 0;
}

.footer-menu {
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
    padding-bottom: 50px;
    align-items: center;
}

.footer-menu a {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #EBEBEB;
    text-decoration: none;
}

.footer-menu a:hover {
    color: #EBEBEB;
}

/*--------------------------------------------------------------
## Media
--------------------------------------------------------------*/
@media screen and (max-width: 1200px) {

    .after-header .lines-left {
        left: -10rem;
    }

    .after-header .ellipse-left {
        bottom: -18rem;
        left: -7rem;
    }

    .preFooter .ellipse-left {
        left: 5rem;
    }

}

@media screen and (max-width: 991px) {
    .after-header:before {
        bottom: -1rem;
        left: -8rem;
    }

    .post-item .post-item__img {
        right: 5.3125rem;
    }

    .after-header .lines-right {
        display: none;
    }

    .after-header .lines-left {
        width: 24rem;
    }

    .preFooter .ellipse-left {
        top: -8rem;
        left: -3rem;
    }

    .preFooter .points {
        top: -1rem;
        right: -8rem;
    }

    .preFooter .lines-left {
        width: 24rem;
    }

    .post-item{
        padding: 20px 15px;
    }

    .post-item .post-item__img{
        margin-top: auto;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 768px) {
    .after-header .after-header__title {
        -webkit-text-stroke-width: 0;
        font-size: 5rem;
    }

    .after-header .after-header__text {
        margin-bottom: 50px;
        -webkit-text-fill-color: #FFFFFF;
        -webkit-text-stroke-width: 0;
    }

    .after-header .lines-left {
        bottom: 30rem;
        width: 21rem;
    }

    .after-header:before {
        bottom: -4rem;
        left: -16rem;
    }

    .preFooter .points {
        top: -4rem;
        right: -13rem;
    }

    .input-group > .form-control {
        margin-bottom: 15px;
        margin-right: 0;
    }

    .input-append {
        width: 100%;
    }

    .preFooter .lines-left {
        width: 19rem;
    }

    .preFooter-input-group button {
        width: 100%;
        max-width: 100%;
    }

    .footer-menu {
        display: block;
    }

    .footer-menu a {
        display: table;
        margin: auto;
        margin-bottom: 15px;
    }

    .footer-menu a:last-of-type {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 576px) {
    .after-header .after-header__title, .after-header .after-header__title small {
        font-weight: bold;
        font-size: 36px;
        line-height: 41px;
        letter-spacing: 0.05em;
    }

    .after-header .after-header__title {
        margin-bottom: 20px;
    }

    .after-header:after, .preFooter:before, .preFooter:after {
        height: 60px;
    }

    .after-header .after-header__img {
        bottom: 0;
    }

    .after-header .ellipse-right {
        top: 7rem;
        right: -15rem;
    }

    .after-header .ellipse-left {
        bottom: -8rem;
        left: -8rem;
        width: 27.875rem;
        height: 27.875rem;
    }

    .after-header .lines-left {
        bottom: 16rem;
        width: 13rem;
        left: -8rem;
    }

    .after-header .after-header__text {
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
    }

    .after-header:before {
        bottom: -8rem;
        left: -19.4rem;
    }

    .preFooter .points {
        top: -8rem;
        right: -15.3rem;
    }

    .main-black .main-black__header {
        font-size: 2rem;
    }

    .preFooter .preFooter__header {
        font-size: 2rem;
        line-height: 2.4375rem;
    }

    .post-view .post-view__title{
        font-size: 2rem;
        margin-bottom: 30px;
    }

    .post-item .post-item__img{
        display: block;
        position: unset;
        margin-bottom: 15px;
        margin-left: auto;
        margin-right: auto;
    }

    .post-item .post-item__btn{
        display: block;
        width: 100%;
        max-width: 100%;
    }

    .post-item .post-item__title{
        margin-bottom: 25px;
    }
}

/*--------------------------------------------------------------
## Notebook
--------------------------------------------------------------*/
@media only screen and (max-width: 1280px) {
    html {
        font-size: 92%;
    }
}

/*--------------------------------------------------------------
## Netbook
--------------------------------------------------------------*/
@media only screen and (max-width: 1024px) {
    html {
        font-size: 90%;
    }
}

/*--------------------------------------------------------------
## iPad
--------------------------------------------------------------*/
@media only screen and (max-width: 960px) {
    html {
        font-size: 85%;
    }
}

/*--------------------------------------------------------------
## iPad
--------------------------------------------------------------*/
@media only screen and (max-width: 768px) {
    html {
        font-size: 80%;
    }
}

/*--------------------------------------------------------------
## iPad
--------------------------------------------------------------*/
@media only screen and (max-width: 480px) {
    html {
        font-size: 75%;
    }
}